@import "tailwindcss";

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-secondary: #2E2E2E;
  --font-inter: "Inter", var(--font-inter);
}


@theme inline {
  --color-background: var(--color-white);
  --color-foreground: var(--color-black);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-secondary: #2E2E2E;
  }
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-inter), sans-serif;
}
